body {
    height: 400vh;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    /*border-radius: 5px;*/
    background: #c5c2c2;
}

::-webkit-scrollbar-thumb {
    background: #f55f5f;
    border-radius: 5px;
}

